/* Error: expected "{".
 *     ,
 * 259 |             &.face5 
 *     |                     ^
 *     '
 *   scss/style.scss 259:21  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a     \2577 \a 259 \2502              &.face5 \a     \2502                      ^\a     \2575 \a   scss/style.scss 259:21  root stylesheet';
}
